{% extends "base.html" %} {% block content %}
<h2>Prompt Summary</h2>
<p><strong>Full Name:</strong> {{ art_prompt.full_name }}</p>
<p><strong>Email:</strong> {{ art_prompt.email }}</p>
<p><strong>Prompt Text:</strong> {{ art_prompt.prompt }}</p>
<p><strong>Art Style:</strong> {{ art_style_name }}</p>
<p><strong>Frame Option:</strong> {{ art_prompt.frame_option }}</p>
<p><strong>Frame Colour:</strong> {{ art_prompt.frame_color }}</p>
<p><strong>Frame Size:</strong> {{ art_prompt.frame_size }}</p>
<!-- Include other details as needed -->
<a href="{{ watermarked_image_url }}" download="WatermarkedImage.png">Download Watermarked Image</a>

<p>
  Your image has been sent off to be framed and will be with you shortly.
  PromptAi will be in touch with a payment link and delivery time.
</p>
{% endblock %}
