{% extends "base.html" %} {% load static %} {% block content %}

<header class="summary_header">
  <a href="{% url 'render_form' %}">
    <img
    src="{% static 'images/prmptai_artgenerator.png' %}"
    alt="PromptAi Digital Art Posters Art Generator"/>
  </a>
</header>

  <div class="summary_prompt-summary">
    {% if art_prompt.frame_option == 'framed' %}
    <p>
      Your name is <span>{{ art_prompt.full_name }}</span>, your email is <span>{{ art_prompt.email}}</span>.
      Your prompt <em>"<span>{{art_prompt.prompt}}</span>"</em>, using the style
      <span>{{art_style_name}}</span>, will be <span>{{art_prompt.frame_option}}</span> in
      <span>{{art_prompt.frame_color}}</span> at the size <span>{{art_prompt.frame_size}}</span>.
    </p>
    {% else %}
    <p>
      Your name is <span>{{ art_prompt.full_name }}</span>, your email is <span>{{ art_prompt.email}}</span>.
      Your prompt <em>"<span>{{art_prompt.prompt}}</span>"</em>, using the style
      <span>{{art_style_name}}</span>, will be <span>{{art_prompt.frame_option}}</span> and printed at the size <span>{{art_prompt.frame_size}}</span>.
    </p>
    {% endif %}
  </div>
<!-- <p><strong>Full Name:</strong> {{ art_prompt.full_name }}</p>
<p><strong>Email:</strong> {{ art_prompt.email }}</p>
<p><strong>Prompt Text:</strong> {{ art_prompt.prompt }}</p>
<p><strong>Art Style:</strong> {{ art_style_name }}</p>
<p><strong>Frame Option:</strong> {{ art_prompt.frame_option }}</p>
<p><strong>Frame Colour:</strong> {{ art_prompt.frame_color }}</p>
<p><strong>Frame Size:</strong> {{ art_prompt.frame_size }}</p> -->
<!-- Include other details as needed -->
<div class="summary_button-wrap">
  <a class="summary_download-img-btn"
  href="{{ watermarked_image_url }}"
  download="WatermarkedImage.png">Download Watermarked Image</a>

<p>
  Your image has been sent off to be framed and will be with you shortly.
  PromptAi will be in touch with a payment link and delivery time.
</p>
</div>
{% endblock %}
